.example-text {
    margin-left: 20%;
    margin-right: 20%;
}
video, canvas {
    margin-right: 0px;
    float: right;
    visibility: hidden;
    margin-top: 0px;
    position: absolute;
}
#directionBtn {
    width: 100px;
}
.center-text {
    text-align: center;
}
